template(name='userNav')
  .navbar.navbar-default(role='navigation')
    .container
      .navbar-header
        ul.nav.navbar-nav
          li
            a(href='/user/contents') Contents
          li
            a(href='/user/templates') Templates
          li
            a(href='/user/orgs') Orgs
